.details-main {

    position: relative;

    & .container {
        max-width: rem(1270);
    }

    &__bg {

        & .bgimage {
            display: block;
            padding-top: 55%;
            @include bgimage-cover;
            min-height: 760px;

            @media screen and (max-width: $w940) {
                height: 100%;
            }
        }

        @media screen and (max-width: $w940) {
            @include layer(1);
            padding-top: 0%;
        }


    }

    &__content {
        padding-top: 60px;
        @include layer(1);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);

        @media screen and (max-width: $w940) {
            position: relative;
            z-index: 2;

        }

    }

    & .btn-line {
        border-color: #fff;
        color: #fff;
        min-width: rem(250);
    }
}

.section-details-main {
    color: #fff;
}

.details-data {
    &__head {
        display: flex;
        padding: 30px 0;
        border-bottom: 2px solid #fff;



        & address {
            font-weight: bold;
            font-size: rem(27);
            line-height: 105.51%;
            display: flex;
            align-items: center;
            font-style: normal;
        }
    }

    &__title {
        & h1 {
            font-weight: bold;
            font-size: rem(61);
            line-height: 105.51%;
            display: flex;
            align-items: center;

            @media screen and (max-width: $w1440) {
                font-size: rem(52);
                line-height: 130%;
            }

            @media screen and (max-width: $w760) {
                font-size: rem(48);
            }

            @media screen and (max-width: $w580) {
                font-size: rem(38);
            }

            @media screen and (max-width: $w480) {
                font-size: rem(32);
            }

        }
    }

    &__address {
        max-width: 350px;


        @media screen and (max-width: $w580) {
            line-height: 130%;
        }
    }

    &__main {
        display: flex;
        padding-top: 25px;

        &-present {
            width: 33%;
        }

        &-cost {
            width: 60%;
        }

        &-wrp {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            max-width: 530px;
            margin: 0 auto;
        }

        &-id {
            width: 7%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid $main;
            height: rem(150);
            width: rem(150);
            min-width: rem(150);
            border-radius: 50%;

            & span {
                &:first-child {
                    font-weight: bold;
                    font-size: rem(38);
                    line-height: 105.51%;
                    text-transform: uppercase;
                }

                &:last-child {
                    font-weight: 600;
                    font-size: rem(20);
                    line-height: 105.51%;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    padding-top: rem(5);
                }
            }
        }
    }

    &__usd {
        display: flex;
        font-weight: bold;
        font-size: 38px;
        line-height: 105.51%;
        color: #D41367;
        align-items: center;

        &::after {
            content: '';
            width: 1.875rem;
            height: 1.15em;
            background-image: url("/img/svg/ic_slash-white.svg");
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 2.5rem;
            margin-left: 2.5rem;
        }
    }

    &__rub {
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        font-size: rem(27);
        line-height: 105.51%;
        color: #FFFFFF;
    }


}

.details-data__main-cost ul {

    display: table;
    margin: 0 auto;
    padding-top: rem(55);
    padding-bottom: rem(55);
    width: 100%;
    max-width: 530px;

    & li {
        font-style: normal;
        font-weight: normal;
        font-size: rem(22);
        line-height: 167.5%;
        color: #FFFFFF;
        display: table-row;

        & span {
            display: table-cell;

            &.props-name {
                padding-right: rem(50);
            }


            &:last-child {
                font-weight: bold;
            }
        }
    }
}

.details-data {
    padding-top: 75px;
}

.about__gallery-details {
    margin-top: -13%;
    background: #F4F4F4;
    position: relative;
    border-radius: 50%;
    z-index: 2;
    padding-top: 50%;
}

.about__gallery-details .swiper-container {
    @include layer(1);
}

.about-card-details__image .bgimage {
    padding-top: 80%;
    display: block;
    max-width: 60%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.about__gallery-details div {
    width: 100%;
}

.about__gallery-details .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-details .bgimage {
    padding-top: 42%;
    @include bgimage-cover;
}

.swiper-gdetails-nav {
    display: flex;
    align-items: center;

    & svg {
        width: rem(40);
        height: rem(40);
    }

    &__dots {
        & .swiper-pagination-bullet {
            width: rem(10);
            min-width: rem(10);
            height: rem(10);
            min-height: rem(10);
            background: transparent;
            border: 2px solid #8C9091 !important;
            opacity: 1;

            margin: 0 rem(10);
        }

        & .swiper-pagination-bullet-active {

            border: 2px solid $main !important;

        }
    }
}

.swiper-gdetails-nav {

    padding-top: rem(35);
    display: flex;
    align-items: center;
    justify-content: center;

    &__prev,
    &__next {

        display: flex;
        align-items: center;
        cursor: pointer;

        & svg {
            border: 2px solid #888;
            border-radius: 50%;
        }
    }

    &__dots {
        padding: 0 rem(15);
    }
}

.presentation--details {
    color: #fff;
    padding-top: 8%;
    padding-bottom: 10%;
}


.videoblock.videoblock--details {
    background-color: #fff;
    padding-top: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.videoblock.videoblock--details .videoblock__title {
    color: #000
}


.videoblock.videoblock--details .videoblock__content {}

/* form */

.section-similar-details,
.section-form-details {
    background-color: #242424;
    color: #fff;

    & .container {
        max-width: rem(1390);
    }

    &__title {
        @include section-title;
    }
}

.section-form-details {
    padding-top: 17%;
}


.section-similar-details {
    padding-top: 7%;
    padding-bottom: 7%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.similar-details,
.form-details {

    &__title {
        @include section-title;
        color: #fff;
        padding-bottom: rem(80);
    }
}

.similar-details {



    &__list {
        display: flex;
        align-items: center;

        & .swiper-container {
            flex-grow: 1;
        }
    }

    &__dots {

        display: flex;
        justify-content: center;
        padding: 35px 0;

        & .swiper-pagination-bullet {
            width: rem(10);
            min-width: rem(10);
            height: rem(10);
            min-height: rem(10);
            background: transparent;
            border: 2px solid #8C9091 !important;
            opacity: 1;

            margin: 0 rem(10);
        }

        & .swiper-pagination-bullet-active {

            background-color: #FFFFFF
        }
    }
}


.swiper-similar-prev,
.swiper-similar-next {
    & svg {
        width: rem(40);
        height: rem(40);
    }

    & svg {
        border: 2px solid #888;
        border-radius: 50%;
    }

    cursor: pointer;
}

.swiper-similar-prev {
    padding-right: 20px;
}

.swiper-similar-next {
    padding-left: 20px;
}

/* form details */

.form-details {

    &__title {
        padding-bottom: rem(80);
    }

    &__subtitle {
        padding-bottom: rem(45);
    }

    &__form {
        & input {
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 2px;
            color: #fff;
        }

        & .btn {
            border-color: #fff;
            color: #fff;
        }
    }
}

.details-data__main-present .pink-round-download {
    cursor: pointer;
}

@media screen and (min-width: $w1440) {
    .details-data__main-present .pink-round-download {
        position: relative;
        max-width: 525px;
        width: 150%;
        margin-left: -119%;
        margin-top: -16%;
    }

    .details-data__main-present .pink-round-download__image .bgimage {
        padding-top: 100%;
        position: relative;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        margin-left: 40%;
        margin-top: 10%;
        margin-right: -60%;
    }

    .details-data__main-present .pink-round-download__image .dl-text br {
        display: none;
    }

    .details-data__main-present .pink-round-download__image .dl-text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 40%;
        margin-right: -42%;
        margin-top: -26%;
        flex-direction: row-reverse;

        & svg {
            margin-right: 25px;
            width: 50px;
            height: 50px;
            min-width: 50px;
        }
    }


}

.details-data__main-present .pink-round-download__image svg {
    margin-top: 5px;
    width: 1.875rem;
    min-width: 1.875rem;
    height: 1.875rem;
    display: block;
    margin: 0 auto;
}

.section-about.section-about--details {
    padding-top: 5%;
}

.data-details__button {
    max-width: 530px;
    margin: 0 auto;
}