header {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-left: rem(30);

    @media screen and (max-width: $w580) {
        padding-left: rem(20);
    }

}

.header-top {
    display: flex;
    width: 100%;
    max-width: 1770px;
    margin-left: auto;


    height: 60px;
    align-items: center;

    &>div {
        margin-right: rem(40);

        @media screen and (max-width: $w580) {
            margin-right: rem(20);
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__phone {
        & a {
            font-weight: 600;
            font-size: rem(21);
            line-height: rem(26);
            color: #000000;
            white-space: nowrap;
        }

        @media screen and (max-width: $w580) {
            display: none;
        }
    }

    &__logo {
        flex-grow: 1;

        & a {
            font-size: rem(23);
            line-height: 28px;
            display: flex;
            align-items: center;
            color: #000000;
            font-weight: 300;
            white-space: nowrap;

            @media screen and (max-width: $w1024) {
                font-size: 0;

                & span {
                    font-size: rem(23);
                    padding-left: 0;
                }
            }

            & span {
                font-weight: bold;
                padding-left: 0.2em;
            }
        }
    }

    &__menu {
        width: rem(348);
        display: flex;
        align-items: center;
        background-color: #202020;
        color: #fff;
        height: 100%;
        padding-left: rem(25);
        font-size: rem(18);

        @media screen and (max-width: $break_w1376) {
            width: rem(160);
        }

        @media screen and (max-width: $w760) {
            font-size: 0;
            width: rem(85);
        }

        & .burger {
            margin-right: rem(10);
        }

        & i {
            background-color: #fff !important;
        }
    }

    &__msgr {
        & ul {

            display: flex;
            align-items: center;
            justify-content: center;

            & li {

                margin: 5px;

                & a {

                    width: rem(25);
                    min-width: rem(25);
                    height: rem(25);
                    background-color: #fff;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;

                    @media screen and (max-width: $w580) {
                        width: rem(38);
                        min-width: rem(38);
                        height: rem(38);
                    }

                    & svg {
                        width: rem(15);
                        min-width: rem(15);
                        height: rem(15);

                        @media screen and (max-width: $w580) {
                            width: rem(18);
                            min-width: rem(18);
                            height: rem(18);
                        }
                    }
                }



            }
        }
    }

    &__btn {
        & .btn {
            font-size: rem(18);
            padding: 0.4em 1.4em 0.4em 1.4em;
            font-weight: 300;
        }

        @media screen and (max-width: $w940) {
            display: none;
        }
    }
}

section.section-firstblock {
    color: #fff;

    & a {
        color: #fff;
    }
}

.firstblock {

    position: relative;

    & .container {
        max-width: rem(1270);
    }

    &__bg {

        & .bgimage {
            display: block;
            padding-top: 55%;
            @include bgimage-cover;
            min-height: 760px;

            @media screen and (max-width: $w940) {
                height: 100%;
            }
        }

        @media screen and (max-width: $w940) {
            @include layer(1);
            padding-top: 0%;
        }


    }

    &__content {
        padding-top: 60px;
        @include layer(1);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);

        @media screen and (max-width: $w940) {
            position: relative;
            z-index: 2;

        }

    }

    & .btn-line {
        border-color: #fff;
        color: #fff;
        min-width: rem(250);
    }
}

.firstblock-one {

    display: flex;

    @media screen and (max-width: $w940) {
        flex-direction: column-reverse;
    }



    &__left {
        width: 28%;

        @media screen and (max-width: $w940) {
            width: 100%;
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: $w580) {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }
    }

    &__right {
        width: 72%;
        padding-left: rem(45);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @media screen and (max-width: $w940) {
            width: 100%;
            padding-left: rem(0);
            padding-bottom: rem(30);
        }
    }

    &__title {
        & h1 {
            font-weight: 700;
            font-size: rem(63);
            line-height: 105.51%;

            @media screen and (max-width: $w1440) {
                font-size: rem(52);
                line-height: 130%;
            }

            @media screen and (max-width: $w760) {
                font-size: rem(48);
            }

            @media screen and (max-width: $w580) {
                font-size: rem(38);
            }

            @media screen and (max-width: $w480) {
                font-size: rem(32);
            }
        }
    }

    &__address {

        margin-bottom: rem(35);

        @media screen and (max-width: $w940) {
            flex-grow: 1;
            width: 100%;
        }

        & address {
            font-weight: bold;
            font-size: rem(27);
            line-height: 105.51%;
            display: flex;
            align-items: center;
            font-style: normal;

            @media screen and (max-width: $w580) {
                line-height: 130%;
            }
        }

        & svg {
            width: rem(40);
            height: rem(40);
            margin-bottom: rem(15);
        }
    }

    &__btn {
        padding-top: 14%;
        padding-left: rem(35);

        @media screen and (max-width: $w940) {
            padding-top: 7%;
            padding-left: 0;
        }

        @media screen and (max-width: $w580) {
            display: none;
        }
    }

    &__dl {
        max-width: rem(320);

        @media screen and (max-width: $w1440) {
            max-width: 90%;
            width: 100%;
        }

        @media screen and (max-width: $w940) {
            max-width: rem(270);
            padding-bottom: rem(30);
            padding-right: rem(30);
        }

        @media screen and (max-width: $w580) {
            margin-right: -4%;
        }
    }
}

.firstblock-tab {

    &__content {
        padding-top: 12%;

        @media screen and (max-width: $w1440) {
            padding-top: 6%;
        }
    }

    &__nav {

        padding-top: rem(45);
        position: relative;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);

        & ul {
            display: flex;
            width: 100%;
            max-width: 900px;
            margin: 0 auto;

            & li {
                flex-grow: 1;

                & a {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: rem(80);

                    font-size: rem(23);
                    line-height: rem(28);
                    text-transform: uppercase;
                    color: #FFFFFF;
                    font-weight: 300;

                    @media screen and (max-width: $w760) {
                        font-size: rem(20);
                        font-weight: 400;
                        height: rem(70);
                    }

                    @media screen and (max-width: $w480) {
                        font-size: rem(16);
                        font-weight: 400;
                        height: rem(60);
                    }
                }

                &.active {
                    & a {
                        font-weight: bold;

                    }
                }
            }
        }
    }

    &__item {
        display: none;
        animation: .3s slide-up;

        &.active {
            display: block;
        }
    }

    & .line {
        position: absolute;
        width: 33.3%;
        height: 4px;
        display: block;
        bottom: -3px;
        left: 0;
        background: $main;
        transition: 0.4s ease;

        @media screen and (max-width: $w580) {
            height: 2px;
            bottom: -2px;
        }
    }


}

.pink-round-download {

    position: relative;
    max-width: 350px;
    width: 100%;

    &__round {
        padding-top: 100%;
        background-color: $main;
        border-radius: 50%;
        z-index: 1;
    }

    &__image {
        @include layer(2);
        text-align: center;

        & .bgimage {
            padding-top: 82%;
            @include bgimage-contain;
            margin-right: -18%;
            margin-top: 5%;
        }

        & .dl-text {
            display: block;
            margin-top: -18%;

            @media screen and (max-width: $w940) {
                font-size: rem(14);
            }
        }

        & svg {
            margin-top: 5px;
            width: rem(30);
            min-width: rem(30);
            height: rem(30);

            @media screen and (max-width: $w940) {
                display: none;
            }
        }
    }
}

.section-about {
    padding: 6% 0;

    @media screen and (max-width: $w580) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.about {
    display: flex;
    width: 100%;

    @media screen and (max-width: $w1024) {
        flex-direction: column;
    }

    &>div {
        width: 50%;

        @media screen and (max-width: $w1024) {
            width: 100%;
        }
    }



    &__desc {

        padding-right: rem(40);
        padding-left: rem(30);

        @media screen and (max-width: $w1024) {
            margin-bottom: rem(40);
        }

        @media screen and (max-width: $w580) {
            padding-left: rem(20);
        }

        &-logo {
            & .bgimage {
                width: rem(105);
                padding-top: 10%;
                @include bgimage-contain;
            }
        }

        &-title {
            @include section-title;
            padding-top: rem(35);

        }

        &-text {
            padding-top: rem(35);
            font-size: rem(18);
            line-height: 140%;
        }

        &-logo,
        &-title,
        &-text {
            max-width: rem(560);
            margin-left: auto;

            @media screen and (max-width: $w1024) {
                max-width: 100%;
                margin-left: auto;
            }
        }
    }
}

.about-card {
    &__image {

        position: relative;
        z-index: 1;

        & .bgimage {
            padding-top: 155%;
            @include bgimage-cover();

        }
    }

    &__content {
        @include layer(2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: rem(50);
        background-color: rgba($color: #000000, $alpha: 0.4);

        @media screen and (max-width: $w1376) {
            padding: rem(30);
        }
    }

    &__title {
        font-weight: bold;
        font-size: rem(36);
        line-height: 105.5%;
        color: rgba(255, 255, 255, 0.9);

        @media screen and (max-width: $w1376) {
            font-size: rem(24);
            line-height: 130%;
        }
    }

    &__btn {
        & .btn {
            width: 100%;
            border-color: #fff;
            color: #fff;

            @media screen and (max-width: $w1376) {
                font-size: rem(14) !important;
            }
        }


    }
}

.swiper-about-nav {
    display: flex;
    align-items: center;

    & svg {
        width: rem(40);
        height: rem(40);
    }

    &__dots {
        & .swiper-pagination-bullet {
            width: rem(10);
            min-width: rem(10);
            height: rem(10);
            min-height: rem(10);
            background: transparent;
            border: 2px solid #8C9091 !important;
            opacity: 1;

            margin: 0 rem(10);
        }

        & .swiper-pagination-bullet-active {

            border: 2px solid $main !important;

        }
    }
}

.swiper-about-nav {

    padding-top: rem(35);
    display: flex;
    align-items: center;
    justify-content: center;

    &__prev,
    &__next {

        display: flex;
        align-items: center;
        cursor: pointer;

        & svg {
            border: 2px solid #888;
            border-radius: 50%;
        }
    }

    &__dots {
        padding: 0 rem(15);
    }
}

.infrastructure {

    color: #fff;

    &__title {
        @include section-title;
        color: #fff;

        @media screen and (max-width: $w1024) {
            padding-left: rem(30);
        }

        &--six {
            padding-top: 6%;

            @media screen and (max-width: $w580) {
                padding-top: 40px;
            }
        }
    }

    & a {
        color: #fff;
    }

    &__wrp {
        position: relative;
        max-width: rem(1770);
        margin-left: auto;


    }

    &__bg {
        @include layer(1);

        & .bgimage {
            @include layer(1);
            @include bgimage-cover;
            height: 100%;
        }

    }

    &__content {
        position: relative;
        z-index: 2;
        background-color: rgba($color: #000000, $alpha: 0.87);
        padding: 6% 0 6% rem(182);



        @media screen and (max-width: 1580px) {
            padding: 6% 0 6% rem(100);
        }

        @media screen and (max-width: $w1280) {
            padding: 6% 0 6% rem(30);
        }

        @media screen and (max-width: $w1024) {
            padding: 6% 0 6% rem(0);
        }

        @media screen and (max-width: $w580) {
            padding-top: rem(50);
        }

    }
}

.infrastructure-tab {


    &__item {
        display: none;
        animation: .3s slide-up;



        &.active {
            display: block;
        }
    }

    &__content {
        padding-top: 12%;

        @media screen and (max-width: $w1024) {
            padding-top: 6%;

            @media screen and (max-width: $w580) {
                padding-top: 40px;
            }
        }
    }

    &__nav {

        padding-top: rem(45);
        position: relative;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);

        @media screen and (max-width: $w760) {
            overflow-x: auto;
        }

        & ul {
            display: flex;
            width: 100%;
            max-width: 900px;
            margin: 0 auto;

            & li {
                flex-grow: 1;

                & a {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: rem(80);

                    font-size: rem(23);
                    line-height: 28px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    font-weight: 300;

                    @media screen and (max-width: $w760) {
                        font-size: rem(20);
                        font-weight: 400;
                        height: rem(70);
                        padding: 0 15px;
                        white-space: nowrap;
                    }

                    @media screen and (max-width: $w480) {
                        font-size: rem(16);
                        font-weight: 400;
                        height: rem(60);
                    }
                }

                &.active {
                    & a {
                        font-weight: bold;

                    }
                }
            }
        }
    }

    & .line {
        position: absolute;
        width: 33.3%;
        height: 4px;
        display: block;
        bottom: -1px;
        left: 0;
        background: $main;
        transition: 0.4s ease;
    }


}

.swiper-infrastructure-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem(20);

    @media screen and (max-width: $w1024) {
        padding-top: 35px;
    }

    & svg {
        width: rem(40);
        height: rem(40);
    }

    &__dots {
        & .swiper-pagination-bullet {
            width: rem(10);
            min-width: rem(10);
            height: rem(10);
            min-height: rem(10);
            background: transparent;
            border: 2px solid #8C9091 !important;
            opacity: 1;

            margin: 0 rem(10);
        }

        & .swiper-pagination-bullet-active {

            background-color: #FFFFFF
        }
    }

    &__prev,
    &__next {

        display: flex;
        align-items: center;
        cursor: pointer;

        & svg {
            border: 2px solid #888;
            border-radius: 50%;
        }
    }

    &__dots {
        padding: 0 rem(15);
    }


}



.infrastructure-item {

    @include row-flex;


    &__left {
        @include col();
        @include size-w1024(5);
        @include size(12);

        @media screen and (max-width: $w1024) {
            padding-left: rem(30);
            padding-right: rem(30);
        }
    }

    &__right {
        @include col();
        @include size-w1024(7);
        @include size(12);
    }

    &__title {
        font-weight: 500;
        font-size: rem(30);
        line-height: 133%;
        padding-bottom: rem(30);
    }



    &__desc {
        & ul {
            & li {
                font-weight: 300;
                font-size: rem(18);
                line-height: 144%;
                padding-bottom: rem(30);
                display: flex;
                align-items: flex-start;

                &::before {
                    content: '';
                    width: rem(10);
                    min-width: rem(10);
                    height: rem(10);
                    border-radius: 50%;
                    background-color: $main;
                    display: inline-block;
                    margin-right: rem(10);
                    margin-top: 0.4em;
                }
            }
        }
    }
}

.infrastructure-gallery {
    & .bgimage {
        padding-top: 54%;
        @include bgimage-cover;
    }
}

.infrastructur-plan {
    padding-top: 6%;
    @include row-flex;
    align-items: center;

    @media screen and (max-width: $w580) {
        padding-top: 40px;
    }

    &__desc {
        @include col();
        @include size-w1024(5);
        @include size(12);
    }

    &__image {
        @include col();
        @include size-w1024(7);
        @include size(12);
    }

    &__image {
        & .bgimage {
            padding-top: 70%;
            @include bgimage-contain;
        }

        @media screen and (max-width: $w1024) {
            max-width: rem(700);
            margin: 0 auto;
        }
    }

    &__desc {

        font-size: rem(18);
        line-height: 160.9%;

        @media screen and (max-width: $w1024) {
            padding-top: rem(45);
        }

        &-wrp {
            max-width: rem(460);
            margin-right: auto;

            @media screen and (max-width: $w1024) {
                max-width: 100%;
                padding: 0 rem(30);
            }
        }
    }
}

.section-apartments {

    padding-top: 6%;
    padding-bottom: 6%;

    @media screen and (max-width: $w580) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    & .container {
        max-width: rem(1390);
    }

    &__title {
        @include section-title;
        padding-bottom: rem(50);
    }
}

.apartments-main {

    position: relative;

    &__content {
        padding: rem(50) 0;
        background: linear-gradient(0deg, rgba(41, 41, 41, 0.95), rgba(41, 41, 41, 0.95));
        color: #fff;
        position: relative;
        z-index: 2;
    }

    &__bg {
        @include layer(1);

        & .bgimage {
            @include layer(1);
            background-position: top center;
            background-size: 100% auto;
            height: 100%;
            background-repeat: no-repeat;
        }

    }


}

.apartments-catalog {
    &__list {
        @include row-flex();
    }

    &__item {
        @include col();
        @include size-w940(4);
        @include size-w580(6);
        @include size(12);

        margin-bottom: rem(30);
    }

    &__list {
        padding-top: rem(45);
    }
}

.catalog__pagination {

    display: flex;
    align-items: center;
    padding-top: rem(40);

    & a {
        color: #fff;
        display: flex;
        height: rem(40);
        border: 1px solid #fff;
        align-items: center;
        justify-content: center;
        min-width: rem(40);
        padding: 0 rem(15);
        margin: 0 rem(5);

        &.avtive {
            background-color: #fff;
            color: #000;
        }

        &:hover {
            opacity: 0.8;
            background-color: #fff;
            color: #000;
        }
    }

    &__page {
        & ul {
            display: flex;
        }
    }

    &__count {
        margin-left: rem(20);
    }

    &__start {
        & a {
            padding: 0 rem(20);
        }
    }
}

.sale-department {

    & .container {
        max-width: rem(1390);
    }

    padding-bottom: 6%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom center;

    @media screen and (max-width: $w580) {
        padding-bottom: 40px;
    }

    &__title {
        @include section-title();
    }

    &__form {
        padding-top: rem(40);
    }

    &__desc {
        font-size: rem(26);
        line-height: 150%;
        color: #0C0C0D;
        padding-top: rem(55);

        @media screen and (max-width: $w580) {
            font-size: rem(20);

        }
    }

    &__slider {
        padding-top: 5%;
        padding-bottom: 8%;
        margin: 0 rem(40);
        position: relative;
    }



}

.specialist {


    &__photo {
        @include box-square;
        background-color: #ccc;
        border-radius: 50%;
        margin-top: 20%;
        transform: scale(0.8);
        transition: 0.3s ease;
        margin-bottom: rem(20);


        & .bgimage {
            @include bgimage-contain;
            @include layer(1);

            height: 130%;
            width: 100%;
            top: auto;
        }
    }

    &__name {
        font-weight: bold;
        font-size: rem(20);
        line-height: 160.9%;
        text-align: center;
        color: #0C0C0D;
        transform: translateY(-40px);
        transition: 0.3s ease;

        @media screen and (max-width: $w760) {
            font-size: rem(16);
            transform: translateY(-30px);
        }

        @media screen and (max-width: 630px) {
            font-size: rem(14);
            transform: translateY(-30px);
        }

        @media screen and (max-width: $w480) {
            font-size: rem(18);
        }

    }

    &__post {
        font-weight: 500;
        font-size: rem(16);
        line-height: 160.9%;
        text-align: center;
        color: #0C0C0D;
        transform: translateY(-40px);
        transition: 0.3s ease;

        @media screen and (max-width: $w760) {
            font-size: rem(14);
            transform: translateY(-30px);
        }

        @media screen and (max-width: 630px) {
            font-size: rem(12);
            transform: translateY(-30px);
        }

        @media screen and (max-width: $w480) {
            font-size: rem(14);
        }

    }

}

.swiper-slide-next {
    & .specialist__photo {
        transform: scale(1);

    }

    & .specialist__name,
    & .specialist__post {
        transform: translateY(0);
    }
}

.department-form {

    display: flex;
    align-items: center;

    @media screen and (max-width: $w1440) {
        flex-direction: column;
    }

    &__msgr {

        padding-right: rem(45);
        margin-top: rem(-44);

        @media screen and (max-width: $w1440) {
            margin-bottom: rem(25);
        }

        @media screen and (max-width: $w940) {
            padding-right: rem(0);
        }

        &-title {
            font-weight: bold;
            font-size: rem(20);
            line-height: 160.9%;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: #0C0C0D;
            display: inline-block;
            padding: 0 10px;
            margin-bottom: rem(20);

            @media screen and (max-width: $w580) {
                margin-bottom: 25px;

            }


        }

        &-list {

            display: flex;

            & label {

                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 rem(10);
                cursor: pointer;

                & svg {
                    fill: #0C0C0D;
                    width: rem(40);
                    min-width: rem(40);
                    height: rem(40);
                }

                & input {
                    display: none;

                    &:checked {
                        &~span {
                            color: $main;
                        }

                        &~hr {
                            background-color: $main;
                        }

                        &~svg {
                            fill: $main;
                        }
                    }
                }

                & span {
                    font-weight: 600;
                    font-size: rem(15);
                    line-height: 160.9%;
                    text-align: center;
                    color: #0C0C0D;
                    margin-top: rem(7);
                }

                & hr {
                    content: '';
                    width: 100%;
                    height: 2px;
                    display: inline-block;
                    background-color: #8C9091;
                    margin-top: rem(7);
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }

    &__fields {
        & .form__subitem {


            @media screen and (min-width: $w940) {
                max-width: rem(270);
            }

            &:last-child {
                max-width: none;
            }
        }

        & .btn {
            @media screen and (max-width: $w480) {
                font-size: 14px;
            }

            @media screen and (max-width: $w360) {
                font-size: 12px;
            }
        }
    }

}

.swiper-sale-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 5;
    top: 50%;
    margin-top: rem(-50);

    @media screen and (max-width: $w480) {
        margin-top: -22px;
    }




    & svg {
        fill: #ccc;
        width: rem(60);
        height: rem(60);
    }

    & #ic_swiper-next-fill {
        & path {
            stroke: #fff;
        }
    }

    &__prev {
        transform: translateX(-30px);
    }

    &__next {
        transform: translateX(30px);
    }

    &__prev,
    &__next {
        & svg {
            fill: #ccc;
            width: rem(40);
            height: rem(40);
        }
    }
}

.gallery-jk {

    padding-top: 2%;
    background-color: #E9E9E9;
    margin-top: -3px;

    & .container {
        max-width: rem(1390);
    }



    &__wrp {
        position: relative;
        z-index: 2;
    }

    &__content {
        padding: rem(50) 0;

        color: #fff;
        position: relative;
        z-index: 2;
    }

    &__bg {
        @include layer(1);

        background-color: #000;
        margin-top: 10%;
    }

    &__slider {

        & .swiper-slide-active {
            & .bgimage {
                opacity: 1;
            }
        }

        & .bgimage {
            padding-top: 55%;
            @include bgimage-cover;
            opacity: 0.4;
            transition: 0.8s ease;
        }
    }

    &__title {
        @include section-title;
        padding-bottom: rem(45);

        @media screen and (max-width: $w580) {
            padding-bottom: rem(0);

        }
    }
}

.swiper-gallery-nav {

    display: flex;
    max-width: calc(80% + 60px);
    margin: 0 auto;
    justify-content: flex-end;
    position: absolute;
    bottom: rem(80);
    left: 0;
    right: 0;
    z-index: 2;
    justify-content: center;

    &>div {
        margin: 0 rem(15);
    }

    & svg {
        fill: none;
        border: 1px solid #fff;
        border-radius: 50%;
        width: rem(60);
        min-width: rem(60);
        height: rem(60);

        @media screen and (max-width: $w760) {
            width: rem(30);
            min-width: rem(30);
            height: rem(30);
        }
    }
}

.swiper-gallery-dots {

    padding-top: rem(50);
    justify-content: center;
    display: flex;

    & .swiper-pagination-bullet {
        width: rem(15);
        min-width: rem(15);
        height: rem(15);
        min-height: rem(15);
        background: transparent;
        border: 2px solid #fff !important;
        opacity: 1;
        margin: 0 rem(12) !important;
    }

    & .swiper-pagination-bullet-active {

        background-color: #fff;

    }
}

.advantages {

    padding-top: 6%;
    background: #000;

    @media screen and (max-width: $w580) {
        padding-top: 40px;
    }

    & .container {
        max-width: rem(1390);
    }

    &__wrp {
        position: relative;
        color: #fff;
    }

    &__title {
        @include section-title;
        color: #fff;
        padding-top: 8%
    }

    &__bg {
        @include layer(1);

        & .bgimage {
            @include layer(1);
            @include bgimage-cover;
            height: 100%;
        }

        @media screen and (min-width: $w1024) {
            padding-left: rem(182);
        }

    }

    &__content {
        position: relative;
        z-index: 2;
        background-color: rgba($color: #000000, $alpha: 0.8);

    }

    &__main {
        display: flex;
        @include row-flex();
        align-items: center;

        padding-top: 6%;
        padding-bottom: 6%;

        @media screen and (max-width: $w580) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    &__left {
        @include col();
        @include size-w1024(6);
        @include size(12);
    }

    &__right {
        @include col();
        @include size-w1024(6);
        @include size(12);
    }

    &__left {
        display: flex;
        flex-wrap: wrap;

        &>div {
            width: 33.33%;
        }

        @media screen and (max-width: $w1024) {
            max-width: 600px;
            margin: 0 auto;
        }
    }

    &__right {
        font-weight: 500;
        font-size: rem(23);
        line-height: 160%;
        color: #C0C1C2;
        margin-right: -6vw;

        @media screen and (max-width: $w1024) {
            padding-top: rem(45);
            font-size: rem(20);
        }
    }
}

.advantages-icon {
    &__image {

        display: flex;
        align-items: center;
        justify-content: center;

        & .bgimage {
            padding-top: 100%;
            @include bgimage-contain;
            max-width: rem(96);
            width: 100%;

            @media screen and (max-width: $w580) {
                max-width: 60px;
            }
        }
    }

    &__text {
        text-align: center;
    }
}

.videoblock {

    background-color: #000;
    padding-top: 6%;
    overflow: visible;

    @media screen and (max-width: $w1024) {
        padding-bottom: rem(55);

    }

    @media screen and (max-width: $w580) {
        padding-top: 40px;
    }


    & .container {
        max-width: rem(1390);
    }

    &__title {
        @include section-title();
        color: #fff;
        padding-bottom: 6%;

        @media screen and (max-width: $w580) {
            padding-bottom: 40px;
        }

    }

    &__content {
        position: relative;


        @media screen and (min-width: $w1024) {
            top: rem(100);
            margin-top: rem(-100);

        }


    }
}

.presentation {

    color: #fff;
    padding-top: 10%;
    padding-bottom: 10%;

    @media screen and (max-width: $w1024) {
        padding-top: 0;
    }

    &__wrp {
        position: relative;
        max-width: rem(1770);
        margin-left: auto;
    }

    &__bg {
        @include layer(1);

        & .bgimage {
            @include layer(1);
            @include bgimage-cover;
            height: 100%;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        background-color: rgba($color: #000000, $alpha: 0.7);
        padding: rem(60);

        @media screen and (max-width: $w580) {
            padding: rem(30);
        }

    }

}



.presentation-main {

    @include row-flex;

    @media screen and (max-width: $w940) {
        flex-direction: column-reverse;
    }

    &__right {
        @include col();
        @include size-w1100(9);
        @include size-w940(8);
        @include size(12);

        & .bgimage {
            padding-top: 70%;
            @include bgimage-contain;
            transform: rotate(-16deg);
            margin-top: -4%;
            margin-right: -25%;

            @media screen and (max-width: $w940) {
                transform: rotate(0);
                margin-top: 0;
                margin-right: 0;
            }
        }
    }

    &__left {
        @include col();
        @include size-w1100(3);
        @include size-w940(4);
        @include size(12);

        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title {
            @include section-title();
            color: #fff;
            line-height: 135%;
            align-items: flex-start;

            @media screen and (max-width: $w940) {
                & br {
                    display: none;
                }
            }
        }

        &-desc {
            padding-top: rem(60);
            font-size: rem(20);
            line-height: 160.9%;

            margin-right: auto;

            @media screen and (max-width: $w940) {
                & br {
                    display: none;
                }
            }
        }

        &-form {

            padding-top: rem(60);

            & .btn {
                border-color: #fff;
                color: #fff;
                width: 100%;
            }

            & .form__item {

                & input {
                    background-color: transparent;
                    color: #fff;
                    background: rgba(255, 255, 255, 0.3);
                }
            }
        }
    }
}


.mortgage {

    color: #fff;
    padding-top: 0;
    padding-bottom: 0;

    &__wrp {
        position: relative;
        margin-left: auto;
    }

    &__title {
        @include section-title();
        padding-bottom: 5%;

        @media screen and (max-width: $w1024) {
            padding-bottom: 9%;
        }
    }

    &__bg {
        @include layer(1);

        & .bgimage {
            @include layer(1);
            @include bgimage-cover;
            height: 100%;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        background-color: rgba($color: #000000, $alpha: 0.7);


    }

    & .container {
        max-width: rem(1390)
    }

}

.mortgage-main {

    @include row-flex;

    &__right {
        @include col();
        @include size-w940(4.5);
        @include size(12);
        display: flex;
        align-items: flex-end;
        position: relative;

        @media screen and (max-width: $w480) {
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
        }



        & .bgimage {
            padding-top: 130%;
            @include bgimage-contain;
            background-position: bottom center;
            width: 100%;
            margin-top: -15%;

            @media screen and (max-width: $w940) {
                margin-top: -0%;
                padding-top: 80%;
            }
        }
    }

    &__left {
        @include col();
        @include size-w940(7.5);
        @include size(12);
        padding: rem(60) 0;

        &-desc {
            padding-top: rem(0);
            font-size: rem(20);
            line-height: 160.9%;

            margin-right: -15%;

            @media screen and (max-width: $w940) {
                margin-right: -0%;
            }
        }

        &-props {
            padding-top: rem(30);

            & ul {
                display: flex;

                @media screen and (max-width: $w940) {
                    justify-content: center;
                }

                @media screen and (max-width: $w480) {
                    flex-direction: column;
                }
            }

            & li {

                display: flex;
                align-items: center;
                margin-right: rem(40);
                font-weight: bold;
                font-size: rem(30);
                line-height: 160.9%;

                @media screen and (max-width: $w1280) {
                    font-size: rem(20);
                }

                @media screen and (max-width: $w480) {
                    padding-top: rem(20);
                }

                &:last-child {
                    margin-right: rem(0);

                    &::before {
                        content: '';
                        width: rem(100);
                        min-width: rem(100);
                        height: rem(100);
                        margin-right: rem(-55);

                        @media screen and (max-width: $w1280) {
                            width: rem(70);
                            min-width: rem(70);
                            height: rem(70);
                            margin-right: rem(-45);
                        }

                        @media screen and (max-width: $w480) {
                            width: rem(80);
                            min-width: rem(80);
                            height: rem(80);
                            margin-right: rem(-45);
                        }
                    }
                }

                &::before {
                    content: '';
                    width: rem(130);
                    min-width: rem(130);
                    height: rem(130);
                    display: inline-block;
                    border: 3px solid $main;
                    border-radius: 50%;
                    margin-right: rem(-65);

                    @media screen and (max-width: $w1280) {
                        width: rem(80);
                        min-width: rem(80);
                        height: rem(80);
                        margin-right: rem(-45);
                    }
                }
            }
        }

        &-form {

            padding-top: rem(40);
            max-width: rem(500);
            margin-right: auto;

            @media screen and (max-width: $w940) {
                margin-left: auto;
            }

            & .btn {
                border-color: #fff;
                color: #fff;
                width: 100%;
            }

            & .form__item {

                & input {
                    background-color: transparent;
                    color: #fff;
                    background: rgba(255, 255, 255, 0.3);
                }

            }
        }
    }
}

.mortgage-spec {

    background-color: #000;
    position: absolute;
    padding: rem(5) rem(20);
    left: 0;
    bottom: rem(60);
    transform: translateX(-100%);

    @media screen and (max-width: $w1100) {
        transform: translateX(-50%);
    }

    @media screen and (max-width: $w940) {
        left: 50%;
    }

    @media screen and (max-width: $w480) {
        left: 0;
        right: 0;
        z-index: 111;
        bottom: 0;
        transform: none;
        position: relative;
        width: 100%;
    }

    &__name {
        font-weight: bold;
        font-size: rem(26);
        line-height: 160.9%;
        text-align: right;

        @media screen and (max-width: $w1280) {
            font-size: rem(18);
        }

        @media screen and (max-width: $w940) {
            text-align: center;
        }
    }

    &__post {
        font-weight: 500;
        font-size: rem(18);
        line-height: 160.9%;
        text-align: right;

        @media screen and (max-width: $w1280) {
            font-size: rem(14);
        }

        @media screen and (max-width: $w940) {
            text-align: center;
        }
    }
}

.section-contacts {
    background-color: #E9E9E9;
    background-size: 100% auto;
    background-position: center -10px;
    background-repeat: no-repeat;
    padding-top: 13%;
    padding-bottom: 6%;

    @media screen and (max-width: $w580) {
        padding-bottom: 40px;
    }

    & .container {
        max-width: rem(1390)
    }

}

.contacts {
    &__title {
        @include section-title;
    }

    &__address {

        display: flex;
        align-items: center;
        padding-top: rem(50);

        @media screen and (max-width: $w480) {
            flex-direction: column;
            align-items: flex-start;

        }

        & address {
            font-weight: 500;
            font-size: rem(24);
            line-height: 105.51%;
            display: flex;
            align-items: center;
            color: #0C0C0D;
            font-style: normal;

            @media screen and (max-width: $w1100) {
                font-size: rem(20);

            }
        }

        & svg {
            width: rem(33);
            min-width: rem(33);
            height: rem(40);
            margin-right: rem(20);

            @media screen and (max-width: $w480) {
                margin-bottom: rem(15);
            }
        }
    }

    &__phone {
        font-weight: bold;
        font-size: rem(28);
        color: #0C0C0D;
        padding-top: rem(30);

        @media screen and (max-width: $w1100) {
            font-size: rem(28);

        }
    }

    &__main {
        @include row-flex;
    }

    &__left {
        @include col();
        @include size-w760(4);
    }

    &__right {
        @include col();
        @include size-w760(8);
    }

    &__right {
        font-weight: bold;
        font-size: rem(40);
        line-height: 105.51%;
        color: #0C0C0D;
        display: flex;
        align-items: center;

        @media screen and (max-width: $w1100) {
            font-size: 28px;
        }

        @media screen and (max-width: $w940) {
            font-size: 24px;
            line-height: 120%;
        }

        @media screen and (max-width: $w760) {
            padding-top: 30px;
        }

        &::before {
            content: '';
            width: rem(49);
            min-width: rem(49);
            height: rem(105);
            background-image: url('/img/svg/ic_slash-black.svg');
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: rem(10);
            transform: translateX(-100%);

            @media screen and (max-width: $w760) {
                display: none;
            }
        }
    }
}



.section-maps {
    &__map {
        & span {
            display: block;
            height: 500px;

            @media screen and (max-width: $w1024) {
                height: 420px;
            }

            @media screen and (max-width: $w760) {
                height: 300px;
            }

            @media screen and (max-width: $w360) {
                height: 220px;
            }
        }
    }
}

#map-container .ymaps-2-1-78-ground-pane {
    filter: grayscale(1);
}

.footer {
    background-color: #0C0C0D;
    padding-top: rem(50);
    padding-bottom: rem(50);

    & .container {
        color: #fff;
        display: flex;
        align-items: center;
        max-width: rem(1390);

        @media screen and (max-width: $w940) {
            flex-direction: column;
        }

    }

    &__logo {
        & .bgimage {
            width: rem(260);
            min-width: rem(260);
            height: rem(60);
            @include bgimage-contain;

            @media screen and (max-width: $w480) {
                width: rem(150);
                min-width: rem(150);
            }
        }
    }

    &__text {
        padding-left: rem(60);
        font-weight: 400;
        font-size: rem(22);
        line-height: 132%;
        display: flex;
        align-items: center;
        color: #F4F4F4;

        @media screen and (max-width: $w940) {
            text-align: center;
            padding-top: rem(30);
            font-size: rem(20);
            padding-left: rem(0);
        }

        @media screen and (max-width: $w480) {
            font-size: rem(16);
            line-height: 160%;
        }

        & br {
            @media screen and (max-width: $w940) {
                display: none;
            }
        }
    }


}